.thumbnail {
  height: 150px;
}

.recipe-title {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 8px;
}

.recipe-info-grid {
  display: grid;
  grid-template-columns: 225px;
}

.recipe{
  width: 100%;
}

.thumbnail:hover{
  cursor: pointer;
} 

.recipe-title:hover{
  cursor: pointer;
}

.star-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 50px;
  column-gap: 5px;
}

.star-sprite{
  height: 30px;
  width: 180px;
  background-image: url('../icons/rating-sprites.webp');
  display: inline-block;
  margin: 0;
}
#rating-0 {
  background-position: 0 -6px;
}
#rating-1 {
  background-position: 0 -48px;
}
#rating-2 {
  background-position: 0 -90px;
}
#rating-3 {
  background-position: 0 -132px;
}
#rating-4 {
  background-position: -186px -6px;
}
#rating-5 {
  background-position: -186px -48px;
}
#rating-6 {
  background-position: -186px -90px;
}
#rating-7 {
  background-position: -186px -132px;
}
#rating-8 {
  background-position: 0 -174px;
}
#rating-9 {
  background-position: -186px -174px;
}
#rating-10 {
  background-position: 0 -216px;
}

.thumbnail-row{
  width:80%;
  padding-bottom:80%;
  overflow:hidden;
  position:relative;
  background:#000;
}

.thumbnail-row img {
  position:absolute;
  width:auto;
  min-width:100%;
  min-height:100%;
}

.recipe-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 900px) {
  .recipe-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .recipe-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1201px) and (max-width: 1500px) {
  .recipe-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 1501px) {
  .recipe-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

