.thumbnail {
  height: 150px;
}

.recipe-title {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 8px;
}

.recipe-info-grid {
  display: grid;
  grid-template-columns: 225px;
}

.recipe{
  width: 100%;
}

.thumbnail:hover, .recipe-title:hover{
  cursor: pointer;
}

.star-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 50px;
  column-gap: 5px;
}

.thumbnail-row{
  width:80%;
  padding-bottom:80%;
  overflow:hidden;
  position:relative;
  background:#000;
}

.thumbnail-row img {
  position:absolute;
  width:auto;
  min-width:100%;
  min-height:100%;
}

.recipe-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 900px) {
  .recipe-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .recipe-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1201px) {
  .recipe-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

